{"http_interactions":[{"request":{"method":"get","uri":"http://api.brightcove.com/services/library?all=chicago&all=football&all=tag%3Afree&any=tag%3Acolor&any=tag%3Atechnicolor&command=search_videos&token=0Z2dtxTdJAxtbZ-d0U7Bhio2V1Rhr5Iafl5FFtDPY8E.","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"x-bc-client-ip":["184.74.8.254"], "x-bc-connecting-ip":["184.74.8.254"], "last-modified":["Mon, 14 May 2012 12:42:27 GMT"], "content-type":["application/json;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"{\"items\":[],\"page_number\":0,\"page_size\":100,\"total_count\":-1}"},"http_version":"1.1"},"recorded_at":"Mon, 14 May 2012 12:42:27 GMT"}],"recorded_with":"VCR 2.1.1"}